#Ignore folders
Builds/
Pyxel/PWAH/Scrapbook/2020CharacterRevamp.png
Pyxel/PWAH/Scrapbook/2020CharacterRevamp.pyxel
Aseprite/caterpillar_twitter.gif
Aseprite/caterpillar.gif
Aseprite/caterpillar.aseprite
